<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OpenPunch | Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>Log History</h1>
        <a href="/users" class="btn btn-outline">See Users</a>
    </header>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th class="cell-center">Action</th>
            <th>Date & Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <td style="font-weight: 600;" th:text="${log.user.name + ' ' + log.user.surname}">Nombre Apellido</td>
            <td class="cell-center">
                        <span th:text="${log.event}"
                              th:class="${log.event == 'IN' ? 'status status-in' : 'status status-out'}">
                            IN
                        </span>
            </td>

            <td class="timestamp"
                th:text="${#temporals.format(log.logTime, 'dd/MM/yyyy HH:mm:ss')}">
                17/04/2026 19:00
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>