<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OpenPunch | Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
    <div class="container">
        <h1>Registros de Presencia</h1>
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Acción</th>
                    <th>Fecha y Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="log : ${logs}">
                    <td th:text="${log.user.name + ' ' + log.user.surname}">Nombre Apellido</td>
                    <td>
                        <span th:text="${log.event}"
                              th:class="${log.event == 'IN' ? 'badge in' : 'badge out'}">
                            IN
                        </span>
                    </td>

                    <td class="timestamp"
                        th:text="${#temporals.format(log.logTime, 'dd/MM/yyyy HH:mm:ss')}">
                        17/04/2026 19:00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>