<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OpenPunch | Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<body>
<div class="container">
    <header>
        <h1>Log History</h1>
        <div  class="header-actions">
            <a href="/users" class="btn btn-primary">
                <span class="material-symbols-outlined">group</span>
                User List
            </a>
            <form th:action="@{/logout}" method="post" style="display: contents;">
                <button type="submit" class="btn btn-logout">
                    <span class="material-symbols-outlined">logout</span>
                    Log Out
                </button>
            </form>
        </div>

    </header>

    <table>
        <thead>
        <tr>
            <th>Log ID</th>
            <th>Name</th>
            <th class="cell-center">Action</th>
            <th>Date & Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <td th:text="${'#' + log.id}">Log ID</td>
            <td th:text="${log.user.name + ' ' + log.user.surname}">Nombre Apellido</td>
            <td class="cell-center">
                        <span th:text="${log.event}"
                              th:class="${log.event == 'IN' ? 'status status-in' : 'status status-out'}">
                            IN
                        </span>
            </td>

            <td class="timestamp"
                th:text="${#temporals.format(log.logTime, 'dd/MM/yyyy HH:mm:ss')}">
                17/04/2026 19:00
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>