<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OpenPunch | Scanner</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>Punch Station</h1>
        <a href="/users" class="btn btn-outline">Admin Panel</a>
    </header>

    <div class="alert-container">
        <div th:if="${success}" class="alert alert-success">
            <span th:text="${success}"></span>
        </div>
        <div th:if="${error}" class="alert alert-danger">
            <span th:text="${error}"></span>
        </div>
    </div>

<!--    <div class="scanner-card">-->
<!--        <h3>Scan QR Code</h3>-->

<!--        <div id="loading-message" class="scanner-notice">-->
<!--            <div class="spinner"></div>-->
<!--            <p>Initializing camera in 3 seconds...</p>-->
<!--        </div>-->

<!--        <div id="reader"></div>-->

<!--    </div>-->
        <div class="manual-input-container">
            <p>Ready for Barcode or Manual Entry</p>
            <form th:action="@{/punch}" method="get" id="punch-form">
                <input type="text"
                       name="token"
                       class="barcode-input"
                       id="barcode-input"
                       placeholder="Click & Scan..."
                       autocomplete="off"
                       autofocus>
                <button type="submit" class="btn btn-primary" style="padding: 12px 20px;">Go</button>
            </form>
        </div>
    </div> </div>

<!--<script src="https://unpkg.com/html5-qrcode"></script>-->
<!--<script th:src="@{/js/scanner.js}"></script>-->
</body>
</html>