<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OpenPunch | Scanner</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<body>
<div class="container">
    <header>
        <h1>Punch Station</h1>
        <form th:action="@{/logout}" method="post" style="display: contents;">
            <button type="submit" class="btn btn-logout">
                <span class="material-symbols-outlined">logout</span>
                Log Out
            </button>
        </form>
    </header>

    <div class="alert-container">
        <div th:if="${success}" class="alert alert-success">
            <span th:text="${success}"></span>
        </div>
        <div th:if="${error}" class="alert alert-danger">
            <span th:text="${error}"></span>
        </div>
    </div>

    <div class="manual-input-container">
        <p>Ready for Barcode or Manual Entry</p>
        <form th:action="@{/punch}" method="get" id="punch-form">
            <input type="text"
                   name="token"
                   class="barcode-input"
                   id="barcode-input"
                   placeholder="Scan or Type..."
                   autocomplete="off"
                   autofocus>
            <button type="submit" class="btn btn-punch" >Punch</button>
        </form>
    </div>
</div>

<!--<script src="https://unpkg.com/html5-qrcode"></script>-->
<!--<script th:src="@{/js/scanner.js}"></script>-->
</body>
</html>