<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Openpunch - User Panel</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <header>
        <h1>User List</h1>
        <div class="header-actions">
            <a href="/" class="btn btn-outline">See Log History</a>
            <a href="/users/new" class="btn btn-primary">+ Add User</a>
        </div>

    </header>
    <div class="alert-container">
        <div th:if="${success}" class="alert alert-success" id="alert-ok">
            <span th:text="${success}"></span>
            <button class="close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
        </div>

        <div th:if="${error}" class="alert alert-danger" id="alert-err">
            <span th:text="${error}"></span>
            <button class="close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Last Punch</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td style="font-weight: 600;" th:text="${user.name + ' ' + user.surname}">Nombre y Apellido</td>
            <td>
                    <span th:if="${user.lastLog != null}"
                          th:text="${user.lastLog.event}"
                          th:classappend="${user.lastLog.event == 'IN'} ? 'status status-in' : 'status status-out'">
                    </span>
                <span th:unless="${user.lastLog != null}" class="timestamp">---</span>
            </td>

            <td class="timestamp" th:text="${user.lastLog != null} ? ${#temporals.format(user.lastLog.logTime, 'dd/MM/yyyy HH:mm')} : '---'">
            </td>

            <td>
                <div style="display: flex; gap: 8px;">
                    <a th:href="@{/punch(token=${user.qrToken})}"
                       class="btn btn-primary"
                       style="background-color: #27ae60; border: none;">
                        Punch
                    </a>

                    <a th:href="@{/users/profile/{id}(id=${user.id})}"
                       class="btn btn-outline">
                        Profile
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>