<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Openpunch - User Panel</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>

<div class="container">
    <header>
        <h1>User List</h1>
        <div class="header-actions">
            <a href="/users/new" class="btn btn-primary">
                <span class="material-symbols-outlined">person_add</span>
                Add User
            </a>

            <a href="/dashboard" class="btn btn-primary">
                <span class="material-symbols-outlined">history</span>
                Log History
            </a>

            <form th:action="@{/logout}" method="post" style="display: contents;">
                <button type="submit" class="btn btn-logout">
                    <span class="material-symbols-outlined">logout</span>
                    Log Out
                </button>
            </form>
        </div>

    </header>
    <div class="alert-container">
        <div th:if="${success}" class="alert alert-success" id="alert-ok">
            <span th:text="${success}"></span>
            <button class="close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
        </div>

        <div th:if="${error}" class="alert alert-danger" id="alert-err">
            <span th:text="${error}"></span>
            <button class="close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Last Punch</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${'#' + user.id}">1</td>
            <td th:text="${user.name + ' ' + user.surname}">Nombre y Apellido</td>
            <td>
                    <span th:if="${user.lastLog != null}"
                          th:text="${user.lastLog.event == 'IN'} ? 'Active' : 'Inactive'"
                          th:classappend="${user.lastLog.event == 'IN'} ? 'status status-in' : 'status status-out'">
                    </span>
                <span th:unless="${user.lastLog != null}" class="timestamp">---</span>
            </td>

            <td class="timestamp" th:text="${user.lastLog != null} ? ${#temporals.format(user.lastLog.logTime, 'dd/MM/yyyy HH:mm')} : '---'">
            </td>

            <td>
                <div style="display: flex; gap: 8px;">
                    <a th:href="@{/punch(token=${user.token})}"
                       class="btn btn-punch">
                        Punch
                    </a>

                    <a th:href="@{/profile/{id}(id=${user.id})}" class="btn btn-primary">
                        <span class="material-symbols-outlined">visibility</span>
                    </a>
                    <form th:action="@{/users/edit}" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}" />
                        <button type="submit" class="btn btn-primary">
                            <span class="material-symbols-outlined">edit</span>
                        </button>
                    </form>
                    <form th:action="@{/users/delete}" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}" />
                        <button type="submit" class="btn btn-logout"
                                th:onclick="return confirm('Are you sure? This will remove all Work Sessions, Punch Logs and User details of ' + [[${user.name}]] + '.');">
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>